@model CoreLayout.Models.UserManagement.AssignMenuByRoleModel
@{
    ViewData["Title"] = "Delete";
}
<div class="main-content side-content pt-0">
    <div class="side-app">

        <div class="main-container container-fluid">


            <!-- Page Header -->
            <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">Delete Assign Menu By Role</h2>
                    <hr />
                </div>

            </div>
            <!-- End Page Header -->
            <!-- Conetnt Start-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div>
                                <h6 class="card-title mb-1">Delete Assign Menu By Role</h6>
                                <hr />
                            </div>



                            <form asp-action="Delete" method="post">
                                <div class="row">
                                    <input type="hidden" asp-for="MenuPermissionId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger">

                                    </div>


                                    <div class="col-md-6">
                                        <div>
                                            <label asp-for="MenuId" class="mg-b-10"> </label>
                                            <input asp-for="MenuName" class="form-control" readonly="readonly" />
                                            <span asp-validation-for="MenuId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label asp-for="RoleId" class="mg-b-10"> </label>
                                            <input asp-for="RoleName" class="form-control" readonly="readonly" />
                                            <span asp-validation-for="RoleId" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Active" class="mg-b-10"> </label>
                                            <input asp-for="Active" class="form-control" readonly="readonly" />
                                            <span asp-validation-for="Active" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <a asp-action="Edit" asp-route-id="@Model.MenuPermissionId" class="btn btn-primary">Edit</a>
                                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Conetnt End-->

        </div>
    </div>
</div>