@model CoreLayout.Models.WRN.WRNRegistrationModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutWRN.cshtml";
}
<div class="main-container container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mg-b-5">Welcome To Dashboard</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </div>

        <div class="d-flex">
            <div class="me-2">
                <a class="btn ripple btn-outline-primary dropdown-toggle mb-0" href="#"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fe fe-external-link"></i> Export <i class="fa fa-caret-down ms-1"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <a class="dropdown-item" href="#"><i class="fa fa-file-pdf me-2"></i>Export as Pdf</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-image me-2"></i>Export as Image</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-file-excel me-2"></i>Export as
                        Excel
                    </a>
                </div>
            </div>
            <div class="">
                <a href="#" class="btn ripple btn-secondary navresponsive-toggler mb-0"
                   data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent" aria-expanded="false"
                   aria-label="Toggle navigation">
                    <i class="fe fe-filter me-1"></i> Filter <i class="fa fa-caret-down ms-1"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!--Navbar-->
    <div class="responsive-background">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="advanced-search br-3">
                <div class="row align-items-center">
                    <div class="col-md-12 col-xl-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-lg-0">
                                    <label class="">From :</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar lh--9 op-6"></i>
                                        </div><input class="form-control fc-datepicker"
                                                     placeholder="11/01/2019" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-lg-0">
                                    <label class="">To :</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar lh--9 op-6"></i>
                                        </div><input class="form-control fc-datepicker"
                                                     placeholder="11/08/2019" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group mb-lg-0">
                            <label class="">Sales By Country :</label>
                            <select class="form-control select2-flag-search"
                                    data-placeholder="Select Contry">
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group mb-lg-0">
                            <label class="">Products :</label>
                            <select multiple="multiple" class="group-filter">
                                <optgroup label="Mens">
                                    <option value="1">Foot wear</option>
                                    <option value="2">Top wear</option>
                                    <option value="3">Bootom wear</option>
                                    <option value="4">Men's Groming</option>
                                    <option value="5">Accessories</option>
                                </optgroup>
                                <optgroup label="Women">
                                    <option value="1">Western wear</option>
                                    <option value="2">Foot wear</option>
                                    <option value="3">Top wear</option>
                                    <option value="4">Bootom wear</option>
                                    <option value="5">Beuty Groming</option>
                                    <option value="6">Accessories</option>
                                    <option value="7">Jewellery</option>
                                </optgroup>
                                <optgroup label="Baby & Kids">
                                    <option value="1">Boys clothing</option>
                                    <option value="2">Girls Clothing</option>
                                    <option value="3">Toys</option>
                                    <option value="4">Baby Care</option>
                                    <option value="5">Kids footwear</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-2">
                        <div class="form-group mb-lg-0">
                            <label class="">Sales Type :</label>
                            <select multiple="multiple" class="multi-select">
                                <option value="1">Online</option>
                                <option value="2">Offline</option>
                                <option value="3">Reseller</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-end">
                    <a href="#" class="btn btn-primary" data-bs-toggle="collapse"
                       data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">Apply</a>
                    <a href="#" class="btn btn-secondary" data-bs-toggle="collapse"
                       data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">Reset</a>
                </div>
            </div>
        </div>
    </div>
    <!--End Navbar -->
    <!-- Row -->
    <!-- Row -->

    <form asp-action="FinalSubmit" method="post">
        <div class="row">
            <div class="col-lg-12">
                <table id="students">
                    <thead>
                        <tr>
                            <th>Step No.</th>
                            <th>Step Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Complete Registration</td>
                            <td>
                                @if (Enumerable.Count(ViewBag.registrationdata) == 0)
                                {
                                    <a class="nav-link" asp-action="CompleteRegistration" asp-controller="WRNRegistration">
                                        <span class="menu-title">Pending</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="CompleteRegistration" asp-controller="WRNRegistration">
                                        <span class="menu-title">Closed</span>
                                    </a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Add Course</td>
                            <td>
                                @if (Enumerable.Count(ViewBag.coursedata) == 0)
                                {
                                    <a class="nav-link" asp-action="WRNCourse" asp-controller="WRNCourseDetails">
                                        <span class="menu-title">Pending</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="WRNCourse" asp-controller="WRNCourseDetails">
                                        <span class="menu-title">Closed</span>
                                    </a>
                                }
                            </td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Add Qualification</td>
                            <td>
                                @if (Enumerable.Count(ViewBag.qualificationdata) == 0)
                                {
                                    <a class="nav-link" asp-action="Qualification" asp-controller="WRNQualification">
                                        <span class="menu-title">Pending</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="Qualification" asp-controller="WRNQualification">
                                        <span class="menu-title">Closed</span>
                                    </a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Upload Photo & Signature</td>
                            <td>
                                @if (Enumerable.Count(ViewBag.photosignaturedata) == 0)
                                {
                                    <a class="nav-link" asp-action="UploadPhotoSignature" asp-controller="WRNRegistration">
                                        <span class="menu-title">Pending</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="UploadPhotoSignature" asp-controller="WRNRegistration">
                                        <span class="menu-title">Closed</span>
                                    </a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Fee Payment</td>
                            <td>
                                @if (Enumerable.Count(ViewBag.paymentdata) == 0)
                                {
                                    <a class="nav-link" asp-action="Payment" asp-controller="WRNPayment">
                                        <span class="menu-title">Non Paid</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="Payment" asp-controller="WRNPayment">
                                        <span class="menu-title">Paid</span>
                                    </a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Print Registration</td>
                            <td>
                                @if (Enumerable.Count(ViewBag.printregistration) == 0)
                                {
                                    <a class="nav-link" asp-action="PrintRegistration" asp-controller="WRNRegistration">
                                        <span class="menu-title">Pending</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="PrintRegistration" asp-controller="WRNRegistration">
                                        <span class="menu-title">Closed</span>
                                    </a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-md-12">
                    <div>
                        <br />
                        <input type="checkbox" asp-for="FinalSubmit">
                        &nbsp;&nbsp; <label style="font-weight:bold" class="form-check-label" asp-for="FinalSubmit">
                        </label>
                        <span asp-validation-for="FinalSubmit" class="error"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Final Submit" />
                        <a asp-action="Dashboard" asp-controller="WRNDashboard" class="btn btn-success">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <style>
        #students {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-weight: bold;
        }

            #students td, #students th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #students tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #students tr:hover {
                background-color: #ddd;
            }

            #students th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>

    @*//for validation*@
    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
