@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model CoreLayout.Models.WRN.WRNRegistrationModel
@{
    Layout = null;
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WRN- Chhatrapati Shahu Ji Maharaj University, Kanpur</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/WRN/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/WRN/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/WRN/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/WRN/images/logo-mini.png" />
    <style>
        .ts {
            text-shadow: -1px 1px 2px #000
        }
    </style>
</head>

<div class="container-scroller">
    <div class="container-fluid">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-md-6">
                        <div class="mb-2 text-center">
                            <img src="~/assets/WRN/images/logo-mini.png" style="width:80px">
                            <h2 class="text-uppercase">Chhatrapati Shahu Ji Maharaj University, Kanpur </h2>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Important Links</h3>

                                <ul class="list-ticked" style="font-size: 17px;">
                                    <li><a href="" class="link-primary">Important Instruction</a></li>
                                    <li><a href="" class="link-primary">Admission Brochure 2022-23</a></li>
                                    <li><a href="" class="link-primary">List of courses Offered by University</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-lg-10 mx-auto">
                            <div class="auth-form-light text-left p-5">
                                <h3 class="text-center">WRN STUDENT LOGIN</h3>
                                <form method="post" class="pt-2">
                                    <div asp-validation-summary="ModelOnly" style="font:bold; color:red; font-size:small">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="RegistrationNo" placeholder="Registration No *" value="" />
                                        <span style="font:bold; color:red; font-size:small" asp-validation-for="RegistrationNo"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="MobileNo" placeholder="Mobile Number *" value="" />
                                        <span style="font:bold; color:red; font-size:small" asp-validation-for="MobileNo"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="date" class="form-control" asp-for="DOB" placeholder="Date of Birth *" />
                                        <span style="font:bold; color:red; font-size:small" asp-validation-for="DOB"></span>
                                    </div>
                                    <div class="mt-2 text-center">
                                        @*<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="index.html">LOGIN</a>*@
                                        <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Login</button>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <label class="form-check-label text-muted">
                                                <input type="checkbox" class="form-check-input"> Keep me signed in
                                            </label>
                                        </div>
                                        <a href="#" class="auth-link text-black">Forgot password?</a>
                                    </div>
                                    <div class="mt-2 text-center">
                                        @*<a class="btn btn-block btn-gradient-success btn-lg font-weight-medium auth-form-btn" href="index.html">NEW REGISTRATION</a>*@
                                        @*<a asp-action="Registration" asp-controller="WRNRegistration" class="btn btn-block btn-gradient-success btn-lg font-weight-medium auth-form-btn">NEW REGISTRATION</a>*@
                                        <a asp-action="Registration" tabindex="9" asp-controller="WRNRegistration">Have not account? Go to registration</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="~/assets/WRN/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/assets/WRN/js/off-canvas.js"></script>
<script src="~/assets/WRN/js/hoverable-collapse.js"></script>
<script src="~/assets/WRN/js/misc.js"></script>
<!-- endinject -->
@*//for validation*@
<script src="~/assets/lib/jquery/dist/jquery.js"></script>
<script src="~/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>