@model CoreLayout.Models.UserManagement.RegistrationModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create";
}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Create User</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Create State</h6>
                        <hr>
                    </div>*@

                <form asp-action="Create" method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger">

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LoginID"> </label><span class="tx-danger"> *</span>
                                <input asp-for="LoginID" class="form-control" />
                                <span asp-validation-for="LoginID" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MobileNo"> </label><span class="tx-danger"> *</span>
                                <input asp-for="MobileNo" class="form-control" maxlength="10" />
                                <span asp-validation-for="MobileNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EmailID"> </label><span class="tx-danger"> *</span>
                                <input asp-for="EmailID" class="form-control" />
                                <span asp-validation-for="EmailID" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Password"> </label><span class="tx-danger"> *</span>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"> </label><span class="tx-danger"> *</span>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @if (Context.Session.GetInt32("RoleId") == 3) //change for paper upload
                                {
                                    <label>Secrecy Cell </label><span class="tx-danger"> *</span>
                                }
                                else
                                {
                                    <label asp-for="RoleId"> </label><span class="tx-danger"> *</span>
                                }

                                <select class="form-control select" asp-for="RoleId" asp-items="@(new SelectList(Model.RoleList,"RoleID","RoleName"))" onchange="return onChange(this.options[this.selectedIndex].value);" required="required" requiredmsg="The Institute field is required">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="RoleId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="IsUserActive"> </label><span class="tx-danger"> *</span>
                                    @Html.DropDownList("IsUserActive", new List<SelectListItem>
                                    {
                                          new SelectListItem{ Text="Active", Value = "1", Selected=true },
                                          new SelectListItem{ Text="InActive", Value = "0" },
                                    },
                                    new { @class = "form-control" })
                                    <span asp-validation-for="IsUserActive" class="parsley-errors-list filled"></span>
                                </div>
                            </div>*@
                        @if (Context.Session.GetInt32("RoleId") == 4 || Context.Session.GetInt32("RoleId") == 1)//display only for institute
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="InstituteId"> </label><span class="tx-danger"> *</span>
                                    <select class="form-control select" asp-for="InstituteId" asp-items="@(new SelectList(Model.InstituteList, "InstituteId", "InstituteName"))">
                                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                    </select>
                                    <span asp-validation-for="InstituteId" class="parsley-errors-list filled"></span>
                                </div>
                            </div>
                        }


                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
<!--@section Scripts{-->
<!-- Custom js-->
<!--<script src="~/assets/js/select2.js"></script>
}-->
