@model CoreLayout.Models.PCP.PCPRegistrationModel
@{
    ViewData["Title"] = "Details";
}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">User Details</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </div>
</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">State Details</h6>
                        <hr />
                    </div>*@
                <form asp-action="Details" method="post">
                    <div class="row">
                        <input type="hidden" asp-for="PCPRegID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger">

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="UserName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="UserName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="UserName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FatherName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="FatherName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="FatherName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="MobileNo"> </label><span class="tx-danger"> *</span>
                                <input asp-for="MobileNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="MobileNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="EmailID"> </label><span class="tx-danger"> *</span>
                                <input asp-for="EmailID" class="form-control" readonly="readonly" />
                                <span asp-validation-for="EmailID" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="InstituteName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="InstituteName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="InstituteName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="CourseName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CourseName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BranchName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="BranchName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="BranchName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TeachingExp"> </label><span class="tx-danger"> *</span>
                                <input asp-for="TeachingExp" class="form-control" readonly="readonly" />
                                <span asp-validation-for="TeachingExp" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PaperSettingExp"> </label><span class="tx-danger"> *</span>
                                <input asp-for="PaperSettingExp" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PaperSettingExp" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Aadhar"> </label><span class="tx-danger"> *</span>
                                <input asp-for="Aadhar" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Aadhar" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PAN"> </label><span class="tx-danger"> *</span>
                                <input asp-for="PAN" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PAN" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Address"> </label><span class="tx-danger"> *</span>
                                <input asp-for="Address" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Address" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BankName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="BankName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="BankName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IFSC"> </label><span class="tx-danger"> *</span>
                                <input asp-for="IFSC" class="form-control" readonly="readonly" />
                                <span asp-validation-for="IFSC" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="AccountNo"> </label><span class="tx-danger"> *</span>
                                <input asp-for="AccountNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="AccountNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BranchAddress"> </label><span class="tx-danger"> *</span>
                                <input asp-for="BranchAddress" class="form-control" readonly="readonly" />
                                <span asp-validation-for="BranchAddress" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="UploadFileName"> </label><span class="tx-danger"> *</span>
                                <img src="~/PCPPhoto/@Model.UploadFileName" alt="Image" height="70" width="70" />
                                <span asp-validation-for="UploadFileName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @*<a asp-action="Edit" asp-route-id="@Model.EncryptedId" class="btn btn-primary">Edit</a>*@
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->