<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\logs\internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="AsyncWrapper" name="AllAsyncWrapper" queueLimit="10000" batchSize="1000">
			<target xsi:type="File"
					name="allfile"
					fileName="${basedir}\logs\nlog-all-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.log"
					archiveFileName="${basedir}\logs\archives\nlog-all-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.archive-{#}.zip"
					archiveEvery="Day"
					maxArchiveDays="7"
					archiveNumbering="DateAndSequence"
					enableArchiveFileCompression="True"
					layout="${longdate}|${aspnet-traceidentifier}|${uppercase:${level}}|${threadid}|${logger}|${message} ${exception:format=ToString}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-mvc-action}|${aspnet-request-posted-body}" />
		</target>
	</targets>
	<!--<targets>
		<target name="database"
			xsi:type="Database"
			connectionString="Server=192.168.50.76; Database=euniversity; User Id=Csjmu_rw; password=Csjmurw@123; Trusted_Connection=False; MultipleActiveResultSets=true">

			<commandText>
				INSERT INTO NLog
				(TraceId,
				Application,
				Logged,
				Level,
				Message,
				Logger,
				Callsite,
				Exception)
				VALUES
				(@traceId,
				@application,
				@logged,
				@level,
				@message,
				@logger,
				@callSite,
				@exception);
			</commandText>

			<parameter name="@traceId"  layout="${var:traceId}" />
			<parameter name="@application" layout="SiteMaster" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>-->
	<rules>
		<logger name="*" minlevel="Error" writeTo="AllAsyncWrapper" />
	</rules>
</nlog>

