@foreach (var item1 in ViewBag.MultiButtonPermission)
{
    @if (item1.ButtonId == 2)
    {
        <a asp-action="Edit" id="edit" class="btn btn-primary" asp-route-id=@item1.EncryptedId><i class="far fa-edit"></i></a>
    }
    else
    {
        <a asp-action="Edit" id="edit" class="btn btn-primary disabled" asp-route-id=@item1.EncryptedId><i class="far fa-edit"></i></a>
    }
    @if (item1.ButtonId == 3)
    {
        <a asp-action="Details" id="details" class="btn btn-success" asp-route-id=@item1.EncryptedId><i class="fas fa-list"></i></a>
    }
    else
    {
        <a asp-action="Details" id="details" class="btn btn-success disabled" asp-route-id=@item1.EncryptedId><i class="fas fa-list"></i></a>
    }
    @if (item1.ButtonId == 4)
    {
        <a asp-action="Delete" id="delete" class="btn btn-danger" asp-route-id=@item1.EncryptedId><i class="fas fa-trash-alt"></i></a>
    }
    else
    {
        <a asp-action="Delete" id="delete" class="btn btn-danger disabled" asp-route-id=@item1.EncryptedId><i class="fas fa-trash-alt"></i></a>
    }

}



